.top-social-media {
  #block-sociallinks {
    .social-link-field.horizontal {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

.block-system-branding-block {
  .site-logo,
  .site-slogan {
    max-width: 180px;
    display: block;
  }
  .site-logo {
    svg {
      fill: $white;
      width: 100%;
    }
  }
  .site-slogan {
    font-family: 'Clarendon Lt BT';
    text-align: center;
    line-height: 1.3rem;
    color: $white;
    border-top: 1px solid $white;
    margin-top: -5px;
    letter-spacing: 0.15rem;
    @include for-tablet-landscape-up {

    }
  }
}

.block-personal-qr-code-block {
  svg #qr-code-border,
  svg #qr-code-block {
    fill: $baseFontColor;
  }

  svg #qr-code-text {
    fill: $white;
  }

  .instructions p {
    color: $baseFontColor;
  }
}

.block-nasa-apod-block {
  h3 {
    text-align:center;
  }
}

#brands {
  .field {
    &.field--name-field-brand-logo {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-left: auto;
      margin-right: auto;
      width: 90%;

      @media only screen and (min-width: 768px) {
        max-width: 700px;
      }

      .field__item {
        padding: 8px;
        text-align: center;

        img {
          height: auto;
          width: 100%;
        }

      }
    }
  }
}

.block-veteran-block {
  .veteran-text,
  .veteran-logo {
    display: flex;
    @include for-tablet-landscape-up{
      justify-content: right;
    }
  }
  .veteran-text {
    font-family: 'Michroma';
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    width: 43%;
    justify-content: center;
    @include for-tablet-landscape-up {
      justify-content: right;
      width: auto;
    }
  }
  .veteran-logo {
    height: 40px;
    justify-content: left;
    @include for-tablet-landscape-up {
      justify-content: right;
    }
    svg {
      height: 100%;
      opacity: 0.85;
    }
  }
}
