.top-social-media {
  #block-sociallinks {
    .social-link-field.horizontal {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

.block-personal-qr-code-block {
  svg #qr-code-border,
  svg #qr-code-block {
    fill: $baseFontColor;
  }

  svg #qr-code-text {
    fill: $white;
  }

  .instructions p {
    color: $baseFontColor;
  }
}

.block-nasa-apod-block {
  h3 {
    text-align:center;
  }
}
