.path-frontpage {
  #page-title {
    h1 {
      font-size: 1px;
      color: transparent;
      margin: 0;
    }
  }
}

.content .social-sharing-buttons {
  justify-content: right;
  margin-right: 1.2em;
}

#footer {
  nav {
    h2 {
      display: block;
      font-size: 1.4em;
      margin: 5px 0;
    }
  }
  .region-footer-third {
    .block-block-content {
      text-align: right;
      .fa {
        margin: 0 5px;
      }
    }
  }
}
