.card {
  .card-image {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    max-height: 225px;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

    & > a, .card-author {
      position: relative;
    }

    & > a {
      display: block;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .card-author {
      top: -215px;
      left: 15px;
      z-index: 11;
      display: grid;
      grid-template-columns: 25px 1fr;
      gap: 0.5rem;
      align-items:center;
      padding: 0.2em;
      max-width: 75%;
      border: 0;
      border-radius: 10px;

      & > img {
        border: none;
        border-radius: 50%;
        display: inline-block;
      }

      .card-author-name {
        font-size: 1em;
        font-weight: 500;
        color: $grey1;
      }
    }
  }

  .card-header {
    a {
      color: $grey3;
    }
  }

  .card-body {
    p {
      color: $grey3;
    }

    .item-list > ul {
      list-style-position: outside;
      list-style-type: none;
      padding-left: 0;
      li {
        display: inline-block;
        margin: 0 0.5em 0;
        font-size: 0.7rem;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        a {
          border: 1px solid $grey2;
          display: inline-block;
          color: $grey2;
          padding: 0 0.2em;
          border-radius: 0.5em;
          text-transform: uppercase;
        }
      }
    }
  }

  .card-footer {
    display: grid;
    grid-template-columns: 100px 1fr;

    .social-sharing-buttons {
      margin: 0;
    }

    .post-date {
      font-size: 0.65rem;
    }
  }
}