$bodyBGColor: #f7f7fa;
$baseFontColor: #435a6b;

$linkColor: #e94a4a;
$linkColorHover: #c52222;

$desktopMenuColor: #fff;
$desktopMenuHover: #ffa6a5;
$desktopMenuDropDownBG: #ce3131;
$desktopMenuDropDownText: #fff;
$desktopMenuDropDownHover: #ffa6a5;

$grey1: #ccc;
$grey2: #999;
$grey3: #666;
$grey4: #333;

$white: #fff;
$black: #000;